################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/src/app.cpp
/MSVC_UPDATE_FIX.md
/CMakePresets.json.with-hardcoded-paths
